* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.mainContent {
  background-color: #14191f;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  width: 100%;
}
.left {
  display: flex;
}
.left img {
  clip-path: circle(106% at left);
  width: 95%;
  object-position: -21px center;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.right h1 {
  color: #fff;
  padding-top: 50px;
}
.right .searchBox {
  background-color: #fff;
  border-radius: 12px;
  padding: 5px 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.right .searchBox input {
  outline: none;
  border: none;
  width: 100%;
}
.right img {
  width: 320px;
  padding-bottom: 50px;
}
hr {
  border: 0;
  background-color: #393a3e;
  box-shadow: 0 2px 5px rgb(61, 56, 60);
  height: 4px;
  margin: 50px 0;
  width: 100%;
}
.bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 0.1fr));
  justify-content: center;
  gap: 20px;
  padding-bottom: 50px;
  max-width: 92%;
}
.bottom .card {
  border-radius: 12px;
  padding: 10px;
  background-color: #393a3e;
  box-shadow: 0 5px 5px rgb(61, 56, 60, 05);
  display: flex;
  flex-direction: column;
  color: #fff;
  width: fit-content;
  transition: all ease-out 0.5s;
  cursor: pointer;
}
.bottom .card:hover {
  transform: scale(0.9);
}
.bottom .card .bookImgContainer {
  max-height: 220px;
  margin-bottom: 20px;
}
.bottom .card .bookImgContainer img {
  width: 250px;
  object-fit: fill;
  height: 220px;
}
.bottom .card .author {
  background-color: #fff;
  color: #393a3e;
  border-radius: 4px;
  margin: 8px 0;
  padding: 4px 0;
}
.Loadding {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 24px rgb(163 141 159);
}
.outer {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(57, 58, 62, 0.605);
}
.inner {
  background-color: #fff;
  padding: 24px;
  border-radius: 16px;
  width: 70%;
  max-width: 660px;
}
.modalHeader {
  display: flex;
  justify-content: flex-end;
}
.modalHeader button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.modalHeader button i {
  font-size: 18px;
}
.bookInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.bookInfo .right {
  justify-content: flex-start;
  gap: 10px;
  align-items: baseline;
}
.bookInfo .right span {
  color: #757577;
}
.bookInfo .right .authers,
.publishDate {
  display: flex;
  gap: 8px;
}
.autherList {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 6px;
}
.bookDescription {
  margin-top: 20px;
  text-align: left;
}
/* small screen */
@media screen and (max-width: 1024px) {
  .top {
    grid-template-columns: auto;
    justify-content: center;
  }
  .left {
    display: none;
  }
  .right img {
    padding-bottom: 0;
  }
}
